section#HOME_ACCES_CUESTIONARIO {
  padding-top: 51px;
}
section#HOME_ACCES_CUESTIONARIO .wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  gap: 72px;
}
section#HOME_ACCES_CUESTIONARIO .wrap > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
@media screen and (min-width: 768px) {
  section#HOME_ACCES_CUESTIONARIO .wrap {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
section#HOME_ACCES_CUESTIONARIO .wrap .item .icon {
  text-align: center;
  margin-bottom: 20px;
}
section#HOME_ACCES_CUESTIONARIO .wrap .item .title-items {
  display: block;
  font: normal normal bold 28px/32px Lexend Deca;
  letter-spacing: 0px;
  color: #000000;
  margin-bottom: 23px;
}
section#HOME_ACCES_CUESTIONARIO .wrap .item .paragraph {
  margin-top: 0;
  margin-bottom: 20px;
  font: normal normal 300 16px/23px Lexend Deca;
  letter-spacing: 0px;
  color: #000000;
}
section#HOME_ACCES_CUESTIONARIO .wrap .item .link-items {
  font: normal normal 800 20px/20px Lexend Deca;
  letter-spacing: 0px;
  color: #005678;
  display: block;
  text-align: center;
}
section#HOME_ACCES_CUESTIONARIO .wrap .item .link-items > span {
  margin-left: 15px;
}
@media screen and (min-width: 992px) {
  section#HOME_ACCES_CUESTIONARIO {
    padding-top: 73px;
    padding-bottom: 88px;
    background-color: #f5f5f5;
  }
  section#HOME_ACCES_CUESTIONARIO .wrap {
    -ms-grid-columns: 300px 70px 300px 70px 300px;
    grid-template-columns: repeat(3, 300px);
    -ms-flex-pack: distribute;
        justify-content: space-around;
    gap: 70px;
  }
  section#HOME_ACCES_CUESTIONARIO .wrap .item .icon {
    text-align: center;
    margin-bottom: 20px;
  }
  section#HOME_ACCES_CUESTIONARIO .wrap .item .title-items {
    display: block;
    font: normal normal bold 28px/32px Lexend Deca;
    letter-spacing: 0px;
    color: #000000;
    margin-bottom: 23px;
  }
  section#HOME_ACCES_CUESTIONARIO .wrap .item .paragraph {
    margin-top: 0;
    margin-bottom: 20px;
    font: normal normal 300 16px/23px Lexend Deca;
    letter-spacing: 0px;
    color: #000000;
  }
  section#HOME_ACCES_CUESTIONARIO .wrap .item .link-items {
    font: normal normal 800 20px/20px Lexend Deca;
    letter-spacing: 0px;
    color: #005678;
    display: block;
    text-align: center;
  }
  section#HOME_ACCES_CUESTIONARIO .wrap .item .link-items > span {
    margin-left: 15px;
  }
}
@media screen and (min-width: 992px) and screen and (min-width: 768px) {
  section#HOME_ACCES_CUESTIONARIO .wrap {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
