section#HOME_BECAUSE {
  padding-top: 44px;
  padding-bottom: 51px;
  max-width: 1242px;
  margin: 0 auto;
}
section#HOME_BECAUSE .info {
  padding-left: 35px;
  padding-right: 46px;
  margin-bottom: 35px;
}
section#HOME_BECAUSE .info .title {
  margin-bottom: 22px;
  margin-top: 0;
  text-align: left;
  font: normal normal bold 36px/40px Lexend Deca;
  letter-spacing: 0px;
  color: #000000;
}
section#HOME_BECAUSE .info .paragraph {
  margin-top: 0;
  margin-bottom: 22px;
  text-align: left;
  font: normal normal 300 16px/23px Lexend Deca;
  letter-spacing: 0px;
  color: #000000;
}
section#HOME_BECAUSE .info .link > a {
  text-align: left;
  font: normal normal 800 20px/20px Lexend Deca;
  letter-spacing: 0px;
  color: #005678;
}
section#HOME_BECAUSE .box-imagen-movil {
  overflow: hidden;
}
section#HOME_BECAUSE .box-imagen-movil .left-img,
section#HOME_BECAUSE .box-imagen-movil .right-img {
  overflow: hidden;
  max-width: 80%;
  width: 100%;
  border-radius: 16px;
}
section#HOME_BECAUSE .box-imagen-movil .left-img > img,
section#HOME_BECAUSE .box-imagen-movil .right-img > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
section#HOME_BECAUSE .box-imagen-movil .left-img {
  max-height: 300px;
  aspect-ratio: 1.395;
  position: relative;
  z-index: 2;
  margin-left: -16px;
}
section#HOME_BECAUSE .box-imagen-movil .right-img {
  max-height: 350px;
  margin-left: auto;
  margin-right: -40px;
  margin-top: -39px;
  aspect-ratio: 1.148;
}
section#HOME_BECAUSE .first-img,
section#HOME_BECAUSE .seconds-img {
  display: none;
}
section#HOME_BECAUSE .title-grey {
  margin-top: 35px;
  padding-left: 35px;
  padding-right: 46px;
}
section#HOME_BECAUSE .title-grey > h3 {
  margin: 0;
  text-align: left;
  font: normal normal 800 43px/38px Lexend Deca;
  letter-spacing: 0px;
  color: #e1ecf0;
}
@media screen and (min-width: 992px) {
  section#HOME_BECAUSE {
    padding-top: 106.5px;
    padding-bottom: 72px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
  section#HOME_BECAUSE .info {
    padding-left: 54px;
    padding-right: 100px;
    margin-bottom: 35px;
  }
  section#HOME_BECAUSE .info .title {
    font: normal normal bold 40px/48px Lexend Deca;
    margin-bottom: 18px;
  }
  section#HOME_BECAUSE .box-imagen-movil {
    display: none;
  }
  section#HOME_BECAUSE .first-img,
  section#HOME_BECAUSE .seconds-img {
    display: block;
    width: 100%;
  }
  section#HOME_BECAUSE .first-img > img,
  section#HOME_BECAUSE .seconds-img > img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  section#HOME_BECAUSE .first-img {
    overflow: hidden;
    border-radius: 14px;
    position: relative;
    aspect-ratio: 1.39;
    left: -30px;
  }
  section#HOME_BECAUSE .seconds-img {
    position: relative;
    right: -30px;
    aspect-ratio: 1.564;
    top: -50px;
  }
  section#HOME_BECAUSE .title-grey {
    max-width: 550px;
    margin-top: 65px;
    padding-left: 80px;
  }
  section#HOME_BECAUSE .title-grey > h3 {
    font: normal normal 800 54px/57px Lexend Deca;
  }
}
@media screen and (min-width: 1200px) {
  section#HOME_BECAUSE {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section#HOME_BECAUSE .info {
    padding-right: 0;
    margin-bottom: 130px;
  }
  section#HOME_BECAUSE .info .title {
    font: normal normal bold 52px/58px Lexend Deca;
    max-width: 606px;
  }
  section#HOME_BECAUSE .info .paragraph {
    max-width: 460px;
  }
  section#HOME_BECAUSE .first-img {
    border-radius: none;
    overflow: visible;
    aspect-ratio: 1.29;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  section#HOME_BECAUSE .seconds-img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    top: -70px;
  }
  section#HOME_BECAUSE .title-grey {
    margin-top: 0;
    padding-left: 120px;
  }
  section#HOME_BECAUSE .title-grey > h3 {
    font: normal normal 800 64px/57px Lexend Deca;
  }
}
