section#INSTALL_GRID {
  padding-top: 89px;
  padding-bottom: 66px;
  .contenedor {
    max-width: 1142px !important; // esto se quita
    .box-grilla {
      display: grid;
      grid-template-columns: 1fr;
      gap: 37px;

      .items-big,
      .items {
        width: 100%;
        .element {
          width: 100%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
      .items-big {
        .element {
          aspect-ratio: 1.5;
        }
      }
      .items:nth-child(2) > .element {
        aspect-ratio: 0.75;
      }
      .items:nth-child(3) > .element {
        aspect-ratio: 1.24;
      }
      .items:nth-child(4) > .element {
        aspect-ratio: 1.498;
      }
      .items:nth-child(5) > .element {
        aspect-ratio: 1.498;
      }
      .items:nth-child(6) > .element {
        aspect-ratio: 0.75;
      }
      .items:nth-child(7) > .element {
        aspect-ratio: 2.758;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  section#INSTALL_GRID {
    .contenedor {
      .box-grilla {
        grid-template-columns: repeat(2, 1fr);
        .items-big {
          grid-column: 1 / 3;
          .element {
            aspect-ratio: 1.673;
          }
        }
        .items:nth-child(2) {
          order: 2;
          & > .element {
            aspect-ratio: 0.746;
          }
        }
        .items:nth-child(3) {
          order: 4;
          & > .element {
            aspect-ratio: 1;
          }
        }
        .items:nth-child(4) {
          order: 3;
          & > .element {
            aspect-ratio: 0.746;
          }
        }
        .items:nth-child(5) {
          order: 5;
          & > .element {
            aspect-ratio: 1;
          }
        }
        .items:nth-child(6) {
          order: 6;
          & > .element {
            aspect-ratio: 0.746;
          }
        }
        .items:nth-child(7) {
          order: 7;
          & > .element {
            aspect-ratio: 1;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  section#INSTALL_GRID {
    .contenedor {
      .box-grilla {
        grid-template-columns: repeat(3, 1fr);
        gap: 52px 40px;

        .items-big {
          grid-column: 1 / 4;
        }
        .items:nth-child(2) {
          order: 2;
        }
        .items:nth-child(3) {
          order: 3;
        }
        .items:nth-child(4) {
          order: 4;
        }
        .items:nth-child(5) {
          order: 5;
        }
        .items:nth-child(6) {
          order: 6;
          margin-top: -34%;
        }
        .items:nth-child(7) {
          order: 7;
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  section#INSTALL_GRID {
    .contenedor {
      .box-grilla {
        justify-content: center;
        grid-template-columns: repeat(3, 318px);
        gap: 52px 45px;

        .items-big {
          width: calc(100% + 17px);
        }
        .items:nth-child(4) {
          margin-left: 17px;
        }
        .items:nth-child(7) {
          margin-left: 17px;
        }
      }
    }
  }
}
